<div class="container ">

	<section>
		<div class="row  intro text-center">
			<h5>Beers On Tap</h5>	
		</div><!-- .vr-40 -->
	</section>

	<section class ='mtop-20'>
		<div class = 'row {{beer.id}}  ' ng-repeat = 'beer in beers'>
			<div class = 'col-xs-12 text-center mtop-20 pbottom-20'>
				<div class = 'well'>
					<h3>{{beer.name}}</h3>
					<img ng-src = "{{beer.label_image.desktop}}"/>
					<h5>{{beer.style}}</h5>
					<b>Price Per Glass : </b>{{beer.price_per_glass|currency}}<br/>
					<b>Price Per Growler : </b>{{beer.price_per_growler|currency}}
				</div>
				<hr ng-if = "!$last"/>
			</div>
		</div>
	</section>
	
</div>