<div class="game-box">
	<div class="vp-50">
		
	</div><!-- .vp-50 -->
	<div class="vp-50 border-t">
		<div class="row text-center">
			<h4>Rochambeer</h4>
			<p>Water boils Yeast. Yeast ferments Malt. Malt flavors Water. </p>
		</div><!-- .row -->
		<div class="rochambeer-controls">
			<img src="assets/img/rochambeer-bg.png" class="img">
			<i class="icon-water item-1"></i>
			<i class="icon-yeast item-2"></i>
			<i class="icon-barley item-3"></i>
		</div><!-- .rochambeer-controls -->
	</div><!-- .vp-50 -->
</div><!-- .game-box -->