<div class="container">
	<div class="row intro">
		<div class="row border-t text-center">
			<h4 class="ptop-15">Beer Midi</h4>
		</div><!-- .row -->
	</div><!-- .row -->
	<div class="row text-center ptop-15" ng-show = "!sound_ready">
		<p>Loading...</p>
	</div><!-- .row -->
	
	<div class="row" ng-show = "sound_ready && beers_ready">
		<button type = 'button' ng-click = 'start_recording()' class = 'btn-start' ng-show = "!recording">Start Recording</button>
		<button type = 'button' ng-click = 'stop_recording()' class = 'btn-stop' ng-show = 'recording'>Stop Recording</button>
		<button type = 'button' ng-click = "show_songs()" class = 'btn-stop' ng-if = "songs.length > 0" >My Songs</button>
	</div><!-- .row -->
	
</div><!-- .container -->

<div class ='container'>




	<section ng-if = "can_save">
		<input type = 'input' ng-model = 'current_song.title' />
		<button type = 'button' ng-click = 'save_song(current_song)' ng-show = "can_save">Save in My Songs</button>
		<button type = 'button' ng-click = 'playback(current_song)' ng-show = "!playing">Play</button>
		<button type = 'button' ng-click = 'stopPlayback(current_song)' ng-show = "playing">Stop</button>
	</section>

	<section ng-if = 'showing_songs'>
		<div class = 'row' ng-repeat = 'song in songs'>
			<div class = 'col-xs-12'>
				{{song.title}}
				<button type = 'button' ng-click = 'playback(song)'>Play</button>
			</div>
		</div>
	</section>


	<section>
		<div class = 'row'>
			<div class = 'col-xs-12'>
				<div ng-repeat = 'beer in beers' class = 'midi-button'>
					<div class = 'beer-image' style = "background-image:url({{beer.label_image.desktop}})">
					</div>
					<div class = 'title'>
						<b>{{beer.name}}</b><br/>
						<b>ABV </b>: {{beer.abv}}
					</div>
					<div class = 'controls'>
						<a class = 'btn btn-block play-btn' 
							ng-click = 'play_note(beer.note)'
							ng-if = 'sound_ready'
							>></a>
					</div>
					<div class = 'clearfix'></div>
				</div>
			</div>
		</div>
	</section>
	
</div>
