<div class="container">
	<div class="row  text-center">
		<h5>Trivia Challenge</h5>	
	</div><!-- .vr-40 -->
	<div class = 'row'>


			<div class = 'row mtop-100' ng-show = "challenge.current_challenge" >
				<div class = 'col-xs-10 col-xs-offset-1'>

					
					<div class = 'timer row text-center' ng-show = "timer > 0">
						<b>{{timer}} seconds to answer</b>
					</div>
					
					<div class = 'timer row text-center' ng-hide= 'timer > 0'>
						<h3>Sorry, Your Time is Up.</h3>
					</div>
				
					<div>
						<h4>Your Prize, should you win!</h4>
						<h5>{{challenge.current_challenge.beer.name}}</h5>
						<img ng-src = "{{challenge.active_challenge.beer.label_image.desktop}}"
						<hr/>
						
											
						<form ng-submit = "submit_answer()">						
							<fieldset ng-hide = "timer < 1">
								<div>
									<h4>Your Question</h4>
									<h5>{{challenge.active_challenge.question}}</h5>
								</div>
									
								<div class = 'form-group'>
									<h4>Your Answer</h4>
									<select ng-model = 'answer' class = 'form-control'  ng-options = "beer as beer.name  for beer in challenge.active_challenge.beer_selection | orderBy:'name'" ></select>
								</div><!-- // form-group --> 			
		
								<hr/>

								<button type = 'submit' class = 'btn btn-danger' >Submit My Answer</button>

							</fieldset>
						</form>
					</div>
	
				</div>
			</div>


	</div>
</div><!-- .container -->
