@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?3s9ns5');
    src:    url('fonts/icomoon.eot?3s9ns5#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?3s9ns5') format('truetype'),
        url('fonts/icomoon.woff?3s9ns5') format('woff'),
        url('fonts/icomoon.svg?3s9ns5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-brewingprocess-01:before {
    content: "\e900";
}
.icon-brewingprocess-02:before {
    content: "\e901";
}
.icon-brewingprocess-03:before {
    content: "\e902";
}
.icon-brewingprocess-04:before {
    content: "\e903";
}
.icon-brewingprocess-05:before {
    content: "\e904";
}
.icon-brewingprocess-06:before {
    content: "\e905";
}
.icon-brewingprocess-07:before {
    content: "\e906";
}
.icon-brewingprocess-08:before {
    content: "\e907";
}
.icon-brewingprocess-09:before {
    content: "\e908";
}
.icon-brewingprocess-10:before {
    content: "\e909";
}
.icon-brewingprocess-11:before {
    content: "\e90a";
}
.icon-fridge:before {
    content: "\e90b";
}
.icon-can-bottle:before {
    content: "\e90c";
}
.icon-keg:before {
    content: "\e90d";
}
.icon-hop:before {
    content: "\68";
}
.icon-barley:before {
    content: "\e90f";
}
.icon-yeast:before {
    content: "\e910";
}
.icon-mouth:before {
    content: "\e911";
}
.icon-check:before {
    content: "\e912";
}
.icon-food:before {
    content: "\e913";
}
.icon-beer:before {
    content: "\e914";
}
.icon-science:before {
    content: "\e915";
}
.icon-house:before {
    content: "\e916";
}
.icon-book:before {
    content: "\e917";
}
.icon-share:before {
    content: "\e918";
}
.icon-cal-add:before {
    content: "\e919";
}
.icon-calendar:before {
    content: "\e91a";
}
.icon-ticket:before {
    content: "\e91b";
}
.icon-map:before {
    content: "\e91c";
}
.icon-globe:before {
    content: "\e91d";
}
.icon-heart:before {
    content: "\e91e";
}
.icon-prev:before {
    content: "\e90e";
}
.icon-next:before {
    content: "\e91f";
}
.icon-up:before {
    content: "\e920";
}
.icon-down:before {
    content: "\e921";
}
.icon-plus:before {
    content: "\e922";
}
.icon-left:before {
    content: "\e925";
}
.icon-GeneralIcons-22:before {
    content: "\e923";
}
.icon-warning:before {
    content: "\e924";
}
.icon-south:before {
    content: "\e928";
}
.icon-north:before {
    content: "\e929";
}
.icon-close:before {
    content: "\e926";
}
.icon-left-skinny:before {
    content: "\e92a";
}
.icon-right-skinny:before {
    content: "\e927";
}

