/* != Midi
-------------------------------------------------------------- */
	
	.play-btn{
		cursor:pointer;
		display:block;
		background:black;
		color:white;
		text-align: center;
		height:50px;
		padding-top:20%;
	}
	.play-btn:hover{
		color:black;
		background:white;
	}
	.clearfix{
		display: block;
		clear:both;
	}
	.beer-image{
		float:left;
		height:40px;
		width:40px;
		margin-left:10px;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 50px;
	}

button{
	-webkit-appearance:none;
	box-shadow:none;
	border:1px solid @gray-light;
	background:transparent;
	padding:8px 8px;
	color:@gray;
	i{
		font-size:30px;
		line-height:30px;
		width:30px;
		height:30px;
		display:inline-block;
	}
	&.btn-start{
		color:@red;
	}
	&.btn-save,
	&.btn-songs{
		color:@gray-light;
	}
}
.save-button{
	width:49px;
	margin-left:3px;
	display:block;
	float:left;
	button{
	}
}
.song-title-row{
	cursor:pointer;
	border:1px solid @gray-light;
	padding-left:10px;
	text-transform:uppercase;
	&:hover, &:active{
		border:1px solid @gray;
	}
}
.song-title{
	font-weight: bold;
	//border:1px solid @gray-light;
	height:50px;
	padding:8px 0px;
	line-height:32px;
	font-size:12px;
	font-family:@mont;
	text-transform:uppercase;
	width:~"calc(77% - 2px)" !important;
	display:block;
}


.midi-button{
	cursor:pointer;
	color:white;
	height: 50px;
	width:~"calc(34% - 2px)";
	height:30vw;
	//border:1px solid @gray-light;
	overflow: hidden;
	float:left;
	display:inline-block;
	background:#eee;
	margin-right:1px;
	margin-left:1px;
	margin-top:2px;
	padding:10px 12px;
	position:relative;
	.transition(all .1s ease);
	&:hover{
		
	}
	&:nth-of-type(3n+1){
		margin-left:0;
		width:~"calc(33% - 1px)";
	}
	&:nth-of-type(3n+0){
		margin-right:0;
		width:~"calc(33% - 1px)";
	}
	.title{
		font-weight: bold;
		width:100%;
		height:100%;
		//padding-left:10px;
	}
	footer{
		position:absolute;
		bottom:10px;
		left:10px;
		width:100%;
		font-family:@mont;
		font-size:12px;
		width:~"calc(100% - 20px)";
		.transition(all .1s ease);
		i{
			font-size:10px;
			position:absolute;
			right:0;
			top:2px;
		}
	}
	.controls{
		width:30%;
		float:right;
		height: 50px;
	}
	&:active{
		background:@red !important;
		color:@white;
		footer{
			color:@white;
		}
	}
}