#game {
	&.tapper {
		position: fixed;
		top:0;
		right:0;
		bottom:0;
		left:0;
	}
	&.closed {
		display: none;
	}
}

#view-toggle {
	position: fixed;
	top:0;
	right:10px;
	color: #FFF;
	text-tranfrom: uppercase;
	z-index: 9999;
}

/* Temp! */
/*
#accept-challenge {
	display: none !important;
}
*/
